@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');


/* Setup */
:root {
    --dark-purple: #4D1E81;
    --light-purple: #7B61FF;
    --dark-blue: #19013F;
    --light-grey: #7A7A7A;
    --light-light-grey: #D9D9D9;
    --blue-accent: #3457CC;
    --font-family-poppins: 'Poppins', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: var(--font-family-poppins);
    height: 100%;
}

a {text-decoration: none;}
button:hover {cursor: pointer;}